@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "Poppins", sans-serif;
  background: rgb(43, 43, 43);
}

.landingPage {
  width: 90%;
  margin: auto;
  margin-bottom: 7%;
}
.landingPage header {
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  margin: 4% auto;
}
.landingPage header nav {
  width: 90%;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.landingPage header nav ul {
  height: 4%;
  display: flex;
  justify-content: center;
}
.landingPage header nav ul li {
  list-style-type: none;
}
.landingPage header nav ul li .box {
  background: rgb(191, 175, 242);
  gap: 10px;
  border-radius: 10px;
  padding: 3px;
}
.landingPage header nav ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 600;
  margin: 30px;
}

.informations {
  height: 60vh;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
}
.informations .left {
  width: 40%;
  margin: 4%;
}
.informations .left h2 {
  font-weight: bolder;
  font-size: 60px;
  line-height: 100%;
  color: rgb(255, 255, 255);
}
.informations .left .textArea {
  width: auto;
  text-align: left;
  margin-top: 10%;
  margin-left: 0px;
}
.informations .left .textArea h4 {
  font-weight: normal;
  font-size: 18px;
  color: rgb(255, 255, 255);
}
.informations .left .searchBox {
  width: 40%;
  background-color: rgb(248, 213, 126);
  border-radius: 8px;
  text-align: center;
  padding: 5px;
  margin-top: 10%;
}
.informations .left .searchBox p {
  font-size: 110%;
  color: rgba(30, 30, 30, 0.5);
  line-height: 300%;
  font-weight: 600px;
  margin-left: 3%;
}
.informations .imgArea {
  width: 50%;
  position: relative;
}

.home {
  margin-top: 10%;
  width: 100%;
}
.home .imgArea {
  position: relative;
  margin: 3%;
}
.home .imgArea img {
  height: 35px;
}

.product {
  margin-top: 5%;
  position: relative;
  background-color: rgb(247, 229, 205);
}
.product .imgArea {
  position: relative;
  width: 75%;
  z-index: 1;
  margin: auto;
  bottom: 0px;
}
.product .imgArea img {
  width: 100%;
}

.section {
  margin-top: 8%;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.section .imgArea {
  margin-top: 4%;
  width: 30%;
}
.section .imgArea h4 {
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  color: rgb(255, 255, 255);
}
.section .imgArea p {
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  color: rgb(255, 255, 255);
}/*# sourceMappingURL=odev.css.map */